<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gcode.com.mapper.ProblemMapper">
    <resultMap id="ProblemMapper"
               type="gcode.com.model.Problem">
        <id property="pid" column="pid" />
        <result property="title" column="title" />
        <result property="difficulty" column="difficulty" />
        <result property="content" column="content" />
        <result property="time_limit" column="time_limit"/>
        <result property="memory_limit" column="memory_limit"/>
    </resultMap>

    <select id="selectPage" resultMap="ProblemMapper" useCache="true">
        select pid, title, difficulty
        from problem
    </select>

    <select id="getProblemDetailByPid" parameterType="long" resultMap="ProblemMapper" useCache="true">
        select *
        from problem
        where pid = #{pid}
    </select>

    <select id="getProblemsNum" useCache="true" resultType="int">
        select count(*)
        from problem
    </select>

    <select id="getNumOfDifficulty" parameterType="String" useCache="true" resultType="int">
        select count(*)
        from problem
        where difficulty = #{difficulty}
    </select>

</mapper>